.ml {
    margin-left: 1rem;
}

.mt {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mr-5 {
    margin-right: 5rem;
}

.tb {
    color: black;
}

.tp {
    color: #ab08d4
}

.p-1 {
    padding: 1px 1px;
}

.c0 {
    width: 10rem;
}

.c1 {
    width: 1rem;
}

.c2 {
    width: 1rem;
}