{% extends "base.html" %}
{% block title %}{{logInfo["logName"]}}{% endblock %}
{% block body %}
    <table><tbody>{{logInfo["logHtml"] | safe}}</tbody></table>
    <br>
    <div class="row">
    {% for i in logInfo["pSR"] %}
        {% if i == logInfo["currentPage"] %}
            <div class="col s1 mt"><a href="{{'/logs/' + logInfo['logName'] + '/' + i|string}}">{{i}}</a></div>
        {% else %}
            <div class="col s1 mt"><a class="tb" href="{{'/logs/' + logInfo['logName'] + '/' + i|string}}">{{i}}</a></div>
        {% endif %}
        
    {% endfor %}
        <div class="col s1">

            <input id="pageSelect" type="number" />
        </div>  
    </div>
    <a href="/">Вернуться на главную</a>
    <script src="{{ url_for('static', filename='pageSelect.js') }}"></script> 

{% endblock %}
