{% extends "base.html" %}
{% block title %}Загрузить лог{% endblock %}
{% block body %}
    <h3 class="ml">Выберите лог</h3>
    <form action="" method=post enctype=multipart/form-data class="ml">
        <div class="file-field input-field">
            <div class="btn">
                <span>Файл</span>
                <input name="logfile" type="file" />
            </div>
            <div class="file-path-wrapper mr-5">
                <input class="file-path validate" type="text">
            </div>         
       
        </div>
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Загрузить</button>
    </form>
    <div>{{message}}</div>
{% endblock %}

